.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--grey);
}

.menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 2rem;
  width: 90%;

  @media (min-width: 768px) {
    max-width: 850px;
  }
}

.group{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  border: 1px solid white;
  width: 350px;
  margin-bottom: 2rem;

  @media (min-width: 768px) {
    width: 80%;
  }
  @media (min-width: 992) {
    max-width: 850px;
  }
}

.groupName {
  font-size: 1.8rem;

  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  color: var(--black);
  margin: 1rem .5rem;
  width: 100%;

  @media (min-width: 768px) {
    font-size: 2rem;
  }
}

.items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 1rem;
    align-items: baseline;
    justify-content: center;
    align-items: center;
  }
}

.item{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: left;
  padding: 1rem;
  margin: .5rem;
  background-color: transparent;
  border: 1px solid var(--black);
  border-radius: 1rem;
  color: black;
  width: 100%;
  max-width: 400px;
  overflow: hidden;
  z-index: 0;

  @media (min-width: 768px) {
    min-height: 230px;
    max-width: 400px;
    margin: 0;
  }
}

.itemHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  z-index: 1;
}

.itemName{
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-align: left;
  font-weight: 700;
  text-transform: capitalize;
  z-index: 1;
  max-width: 70%;
}

.itemPrice{
  font-size: 1.4rem;
  font-weight: 700;
  text-align: left;
  align-self: baseline;
  z-index: 1;

  @media (min-width: 768px) {
    font-size: 1.7rem;
    font-weight: 700;
  }
}

.itemDescription{
  font-size: 1rem;
  text-align: left;
  z-index: 1;

  @media (min-width: 768px) {
    line-height: 1.4rem;
  }
}

.image {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 160px;
  border-radius: 1rem;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
  filter: contrast(0.5) saturate(120%);

  @media (min-width: 768px) {
    width: 100%;
    height: 100%;
  }
}
