.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 2rem;
}
.menu {
  // display: flex;
  // justify-content: center;
  // flex-direction: column;
  // align-items: center;
  margin: 0 auto;
  width: 90%;

  // @media (min-width: 768px) {
  //   flex-direction: row;
  //   flex-wrap: wrap;
  //   align-items: baseline;
  // }
}
.group{
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  // border: 1px solid white;
  // width: 350px;
  margin-bottom: 2rem;

  @media (min-width: 768px) {
    width: auto;
  }
}
.groupName {
  font-size: 1.7rem;
  line-height: 2rem;
  font-weight: 900;
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
}
.items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    align-items: baseline;
  }
}
.item{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: left;
  padding: 1rem;
  // margin: .5rem;
  background-color: transparent;
  // border: 1px solid var(--black);
  border-radius: 1rem;
  // color: white;


  z-index: 0;
  @media (min-width: 768px) {
    min-width: 450px;
    min-height: 250px;
    margin: 0;
  }
}
.itemHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  // margin: 1rem;
  z-index: 1;
}
.itemName{
  font-size: 1.5rem;
  line-height: 1.8rem;
  // text-align: left;
  text-shadow: 1px 1px 1px var(--black);
  // margin: 1rem;

  border-bottom: 1px solid var(--black);
  text-transform: capitalize;
  z-index: 1;
}
.itemPrice{
  font-size: 1.2rem;
  font-weight: 900;
  text-align: left;
  align-self: baseline;
  // margin: 1rem;
  padding: 1rem;

  z-index: 1;

  @media (min-width: 768px) {
    font-size: 2rem;
  }
}
.itemDescription{
  font-size: 1rem;
  text-align: left;

  // text-indent: 10px;
  z-index: 1;

}

.image {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
  filter: contrast(0.5) saturate(120%);

  @media (min-width: 768px) {
    width: 100%;
    height: 100%;
  }
}
