.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.specialsWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;

  width: 90%;

  @media (min-width: 768px) {
    max-width: 850px;
  }
}
.itemWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.header {
  display: flex;
  margin: 10px;
}
.recentPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
