.space {
  display: flex;
}

.xxxs {
  margin: 0.25rem;
}

.xxs {
  margin: 0.375rem;
}

.xs {
  margin: 0.5rem;
}

.sm {
  margin: 1rem;
}

.md {
  margin: 2rem;
}

.lg {
  margin: 3rem;
}

.xl {
  margin: 4rem;
}

.xxl {
  margin: 6rem;
}

.xxxl {
  margin: 8rem;
}

.x {
  width: 100%;
}

.y {
  height: 100%;
}
