.text {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
}
// size
.sm {
  font-size: 1rem;

  @media (max-width: 768px) {
    font-size: 0.8rem;
  }
}

.md {
  font-size: 1.5rem;

  @media (max-width: 768px) {
    font-size: 1.2rem;
  }
}

.lg {
  font-size: 2rem;
  line-height: 1;

  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.xl {
  font-size: 3rem;
  line-height: 1;

  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

// color
.red {
  color: red;
}

.black {
  color: black;
}

.white {
  color: white;
}

// weight
.lighter {
  font-weight: 100;
}

.light {
  font-weight: 300;
}

.bold {
  font-weight: 700;
}

.bolder {
  font-weight: 900;
}

// align

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

// textTransform

.uppercase {
  text-transform: uppercase;
}

.none {
  text-transform: none;
}
