.backgroundPhotoOne {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

.wrapper {
  width: 100%;
  z-index: 2;
  background-color: transparent;
}

.aychOne {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 6px;
  text-align: center;
  font-style: italic;
  z-index: 2;
  color: white;
  text-shadow: 5px 5px 10px black;
  width: 100%;
  font-style: italic;
  padding: 1rem 0;
}

.hOneWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  z-index: 2;
  padding: 2rem 1rem 3rem 1rem;
  margin: 125px 0 250px 0;
  background-color: rgba(182,32,27, .9)
}

.line {
  width: calc(60% + 50px);
  height: 1px;
  background-color: var(--white);
  z-index: 2;
}

.lineLeft {
  width: 30%;
  height: 1px;
  background-color: var(--white);
  z-index: 2;
}

.lineRight {
  width: 30%;
  height: 1px;
  background-color: var(--white);
  z-index: 2;
}

.middleSVG {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 2;
  fill: white;
}

.lineSVGWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 2;
}

.header {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 6px;
  margin: 50px 30% 10px 30%;
  text-align: center;
  font-style: italic;
  z-index: 2;
  text-shadow: 2px 2px 1px black;
}

.statement{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  margin: 0 30px 0 30px;
  padding: 20px;
  z-index: 3;
}

.text{
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  text-align: center;
  z-index: 2;
  text-shadow: black;
  padding: 3px;
}

.centerImage {
  display: flex;
  z-index: 0;
  position: relative;

  @media (max-width: 768px) {
    transform: scale(0.5);
  }
}

.content {
  height: 100%;
  width: 100%;
  z-index: 1;
  grid-column: auto;
  grid-row: auto;
  overflow: hidden;
  margin: 150px 0 150px 0;
  border: 1rem solid rgba(0,0,0,0.9);
}

.hero {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  max-height: 50vh;
  text-align: center;
  padding: 1rem;
  padding-bottom: 2rem;
  background-color: rgba(0,0,0,0.9);

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.contentHeader {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 6px;
  line-height: 2.5rem;
  text-align: center;
  z-index: 2;

  @media (min-width: 768px) {
    flex-basis: 50%;
    font-size: 2.75rem;
    line-height: 3rem;
  }
}

.imageWrapper {
  display: flex;
  max-width: 60%;
  max-height: 100%;
  overflow: hidden;
  border-radius: 15px;
  z-index: 0;
  border: 1px solid var(--white);

  align-items: center;
  justify-content: center;

  @media (min-width: 768px) {
    max-width: 50%;
    max-height: 100%;
    border: none;
  }
}
