.backgroundPhotoOne {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

.bannerFlex {
  width: 100%;
  height: 100%;
}

.scrollContainer {
  width: 90%; // Adds margin so it doesn’t take full width
  overflow-x: auto;
  white-space: nowrap;
}

// Make sure images do not get clipped
.innerImageContainer {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
}

// Custom scrollbar styling for WebKit browsers
.scrollContainer::-webkit-scrollbar {
  height: 8px;
}

.scrollContainer::-webkit-scrollbar-track {
  background: var(--white);
  border-radius: 5px;
}

.scrollContainer::-webkit-scrollbar-thumb {
  background: var(--black);
  border-radius: 5px;
}

.scrollContainer::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

.innerImage {
  object-fit: cover; /* Ensures images cover their container without distortion */
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 3rem;
  max-height: 400px;
  min-height: 400px;
}

.line {
  width: calc(60% + 50px);
  height: 1px;
  background-color: var(--white);
  z-index: 2;
}

.whiteLine {
  width: 100%;
  height: 1px;
  background-color: var(--white);
  z-index: 2;

  @media (max-width: 768px) {
  }
}

.header {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 6px;
  margin: 50px 30% 10px 30%;
  text-align: center;
  font-style: italic;
  z-index: 2;
  text-shadow: 2px 2px 1px black;
}

.statement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  margin: 0 30px 0 30px;
  padding: 20px;
  z-index: 3;
}

.text {
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  text-align: center;
  z-index: 2;
  text-shadow: black;
  padding: 3px;
}

.centerImage {
  display: flex;
  z-index: 0;
  position: relative;

  @media (max-width: 768px) {
    transform: scale(0.5);
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  gap: 100vh;
}

.group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem 0;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.contentHeader {
  font-size: 2rem;
  font-weight: 700;
  text-shadow: 1px 1px 3px black;
  letter-spacing: 6px;
  line-height: 2.5rem;
  text-align: center;
  z-index: 2;

  @media (min-width: 768px) {
    flex-basis: 50%;
    font-size: 2.75rem;
    line-height: 3rem;
  }
}

.imageWrapper {
  display: flex;
  max-width: 60%;
  max-height: 100%;
  overflow: hidden;
  border-radius: 15px;
  z-index: 0;
  border: 1px solid var(--white);

  align-items: center;
  justify-content: center;

  @media (min-width: 768px) {
    max-width: 300px;
    max-height: 400px;
    border: none;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  gap: 100vh;
  margin: 40vh 0;
}
