:root {
  --yellow: #f1c03a;
  --orange: #ff9f00;
  --teal: #468dff;
  --blue: #2a2f44;
  --brown: #974900;
  --grey: #363843;
  --green: #00750c;
  --red: #b62025;
  --white: #ffffff;
  --black: #1a1b21;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--white);
  background-color: var(--black);
  height: 99vh;
  width: 100vw;

  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
