@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  --yellow: #F1C03A;
  --orange: #ff9f00;
  --teal: #468DFF;
  --blue: #2A2F44;
  --brown: #974900;
  --grey: #1A1B21;
  --green: #00750C;
  --red: #b62025;
  --white: #ffffff;
  --black: #1a1b21;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--white);
  background-color: var(--black);
  height: 99vh;
  width: 100vw;

  margin: 0;
  padding: 0;
  overflow-x: hidden;
 }